.kanan{
    list-style-type: none;
    width: 90%;
    display: flex;
    justify-content: flex-end;
}

ul li{
    display: inline;
    margin-right: 15px;
}

ul li a{
    color: gray;
}

nav{
    display: flex;
    border-bottom: 1px solid black;
    margin-bottom: -20px;
    
}




